/ArtgalleryAPI/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/ArtgalleryAPI/obj/Debug/net8.0/apphost.exe
/ArtgalleryAPI/bin/Debug/net8.0/appsettings.Development.json
/ArtgalleryAPI/bin/Debug/net8.0/appsettings.json
/ArtgalleryAPI/obj/Debug/net8.0/Artgalle.FE412A54.Up2Date
/ArtgalleryAPI/obj/Debug/net8.0/ArtgalleryAPI.AssemblyInfo.cs
/ArtgalleryAPI/obj/Debug/net8.0/ArtgalleryAPI.AssemblyInfoInputs.cache
/ArtgalleryAPI/obj/Debug/net8.0/ArtgalleryAPI.assets.cache
/ArtgalleryAPI/obj/Debug/net8.0/ArtgalleryAPI.csproj.AssemblyReference.cache
/ArtgalleryAPI/obj/Debug/net8.0/ArtgalleryAPI.csproj.CoreCompileInputs.cache
/ArtgalleryAPI/obj/Debug/net8.0/ArtgalleryAPI.csproj.FileListAbsolute.txt
/ArtgalleryAPI/obj/ArtgalleryAPI.csproj.nuget.dgspec.json
/ArtgalleryAPI/obj/ArtgalleryAPI.csproj.nuget.g.props
/ArtgalleryAPI/obj/ArtgalleryAPI.csproj.nuget.g.targets
/ArtgalleryAPI/bin/Debug/net8.0/ArtgalleryAPI.deps.json
/ArtgalleryAPI/bin/Debug/net8.0/ArtgalleryAPI.dll
/ArtgalleryAPI/obj/Debug/net8.0/ref/ArtgalleryAPI.dll
/ArtgalleryAPI/obj/Debug/net8.0/refint/ArtgalleryAPI.dll
/ArtgalleryAPI/obj/Debug/net8.0/ArtgalleryAPI.dll
/ArtgalleryAPI/bin/Debug/net8.0/ArtgalleryAPI.exe
/ArtgalleryAPI/obj/Debug/net8.0/ArtgalleryAPI.GeneratedMSBuildEditorConfig.editorconfig
/ArtgalleryAPI/obj/Debug/net8.0/ArtgalleryAPI.genruntimeconfig.cache
/ArtgalleryAPI/obj/Debug/net8.0/ArtgalleryAPI.GlobalUsings.g.cs
/ArtgalleryAPI/obj/Debug/net8.0/ArtgalleryAPI.MvcApplicationPartsAssemblyInfo.cache
/ArtgalleryAPI/obj/Debug/net8.0/ArtgalleryAPI.MvcApplicationPartsAssemblyInfo.cs
/ArtgalleryAPI/bin/Debug/net8.0/ArtgalleryAPI.pdb
/ArtgalleryAPI/obj/Debug/net8.0/ArtgalleryAPI.pdb
/ArtgalleryAPI/bin/Debug/net8.0/ArtgalleryAPI.runtimeconfig.json
/ArtgalleryAPI/bin/Debug/net8.0/Microsoft.AspNetCore.OpenApi.dll
/ArtgalleryAPI/bin/Debug/net8.0/Microsoft.OpenApi.dll
/ArtgalleryAPI/obj/Debug/net8.0/staticwebassets/msbuild.build.ArtgalleryAPI.props
/ArtgalleryAPI/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.ArtgalleryAPI.props
/ArtgalleryAPI/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.ArtgalleryAPI.props
/ArtgalleryAPI/obj/project.assets.json
/ArtgalleryAPI/obj/project.nuget.cache
/ArtgalleryAPI/obj/project.packagespec.json
/ArtgalleryAPI/obj/rider.project.model.nuget.info
/ArtgalleryAPI/obj/rider.project.restore.info
/ArtgalleryAPI/obj/Debug/net8.0/staticwebassets.build.json
/ArtgalleryAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/ArtgalleryAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/ArtgalleryAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/.idea/.idea.ArtgalleryAPI/.idea/vcs.xml
